<a href="https://colab.research.google.com/github/iceaiai/CS-Kid-teaching/blob/main/Q1_Nov_2nd_2024.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Quiz rule:
# Work on your own;
# Everyone has one time chance to ask help from teacher

## Example: Define a function called pound_to_kg(x) to convert pound into kg:
### input: x in pound
### output: y which is the kg
### kg = pound * 0.453592
###so y = x * 0.453592

In [1]:
def pound_to_kg(x):
  y = x * 0.453592
  return y
print(pound_to_kg(10))

4.53592

## Q1: Define a function called add():
### input: x1, x2 which is a number
### output y: which is x1 + x2

In [ ]:
def add(x1, x2):
  y = # fill your answer here
  return y
print(add(10, 20))

## Q2: Define a function called minus():
### input: x1, x2 which is a number
### output y: which is x1 - x2

In [ ]:
def minus(x1, x2):
   # fill your answer here
  return # fill your answer here
print(minus(20, 10))

## Q3: Define a function called multi():
### input: x1, x2 which is a number
### output y: which is x1 * x2

In [ ]:
def multi(x1, x2):
   # fill your answer here
  return # fill your answer here
print(multi(20, 10))

## Q4: Define a function called divide():
### input: x1, x2 which is a number
### output y: which is x1 / x2

In [ ]:
def divide(x1, x2):
   # fill your answer here
  return # fill your answer here
print(divide(20, 10))

##Q5: using for loop to print all number in a list

In [ ]:
list1 = [10, 20,'hello', 30, 'ducky',40, 50]
for i in list1:
  if type(i) == # fill your answer here
    print(i)

## Q6: using for loop to print the locations of all number in a list

In [3]:
list1 = [10, 20,'hello', 30, 'ducky',40, 50]
for i in range(len(list1)):
  # note: i is the location of the element of list1
  # you need index it
  element = # index ith element in list1# fill your answer here
  if type(element) # fill your answer here
    print(f'Number {element} is at location {i+1} of list1')

Number 10 is at location 1
Number 20 is at location 2
Number 30 is at location 4
Number 40 is at location 6
Number 50 is at location 7

##  Q7: Calculate the factorial of a number using for loop
### for example:
### 5! = 1 x 2 x 3 x 4 x 5
### loop from start to end:
### start = 1, end = 5 + 1
### i = 1: result = result * 1 so result = 1
### i = 2: result = result * 2 so result = 2
### i = 3: result = result * 3 so result = 6
### ...

In [ ]:
result = 1
number = 8
for i in # fill your answer here
  # fill your answer here
print(result)

## Q8: Using if statement to judge a number is odd or even
##Hint: number divided by two with no residue is even, else odd

In [ ]:
Number = 100098 - 38878 +890809- 13131
if Nummber # fill your answer here
  print('Number is even')
elif Nummber   # fill your answer here
  print('Number is odd')

## Q9: Checking if a Number is Positive, Negative, or Zero

In [ ]:
number = 100098*56 - 38878 + 8190809*5- 13131313*8

if number  # fill your answer here
    print(f"{number} is positive")
elif number # fill your answer here
    print(f"{number} is negative")
elif number  # fill your answer here
    print(f"{number} is zero")

## Q10: Checking if a your first name is in the word_list using if statement

In [8]:
import random

# Expanded word list with names, states, countries, and animals
word_list = [
    "apple", "banana", "grape", "orange", "strawberry", "pear", "mango", "kiwi", "pineapple", "melon", "Aaron", "Wilson", "Maggie", "Lewis",
    "dog", "cat", "lion", "tiger", "elephant", "giraffe", "zebra", "kangaroo", "koala", "panda", "eagle", "falcon", "shark", "whale", "dolphin",
    "parrot", "penguin", "cheetah", "jaguar", "buffalo", "bison", "antelope", "camel", "deer", "fox", "wolf", "raccoon", "otter", "beaver",
    "bear", "rabbit", "squirrel", "hippopotamus", "rhinoceros", "owl", "goose", "duck", "flamingo", "swallow", "sparrow", "robin", "peacock",
    "moose", "hedgehog", "sloth", "leopard", "lynx", "mongoose", "wolverine", "badger", "iguana", "cobra", "python", "alligator", "crocodile",
    "Alabama", "Alaska", "Arizona", "Arkansas", "California", "Colorado", "Connecticut", "Delaware", "Florida", "Georgia", "Hawaii", "Idaho",
    "Illinois", "Indiana", "Iowa", "Kansas", "Kentucky", "Louisiana", "Maine", "Maryland", "Massachusetts", "Michigan", "Minnesota",
    "Mississippi", "Missouri", "Montana", "Nebraska", "Nevada", "New Hampshire", "New Jersey", "New Mexico", "New York", "North Carolina",
    "North Dakota", "Ohio", "Oklahoma", "Oregon", "Pennsylvania", "Rhode Island", "South Carolina", "South Dakota", "Tennessee", "Texas",
    "Utah", "Vermont", "Virginia", "Washington", "West Virginia", "Wisconsin", "Wyoming",
    "Canada", "Mexico", "Brazil", "Argentina", "Chile", "Peru", "Colombia", "Venezuela", "Ecuador", "Bolivia", "Paraguay", "Uruguay",
    "France", "Germany", "Italy", "Spain", "Portugal", "Greece", "Netherlands", "Belgium", "Sweden", "Norway", "Denmark", "Finland", "Iceland",
    "Japan", "China", "South Korea", "India", "Indonesia", "Vietnam", "Thailand", "Malaysia", "Singapore", "Philippines",
    "Russia", "Ukraine", "Poland", "Czech Republic", "Austria", "Switzerland", "Hungary", "Romania", "Bulgaria", "Serbia", "Croatia",
    "Turkey", "Iran", "Iraq", "Syria", "Israel", "Egypt", "Morocco", "Nigeria", "Kenya", "South Africa", "Ethiopia", "Uganda",
    "Australia", "New Zealand", "Papua New Guinea", "Fiji", "Samoa"
]

# Generate a 1000-word long sentence from the expanded word list
words = " ".join(random.choices(word_list, k=1000))

# Check if your name is in the generated sentence
your_name = "狗狗"  # Replace with your name
if your_name in # fill your answer here
    print(f'The sentence contains the name {your_name}')
else:
    print(f"The sentence does not contain the name {your_name}")

# Print the generated sentence (optional, since it's very long)
# print(words)  # Uncomment this line to view the generated sentence if needed

The sentence contains the name Aaron