# Lucky numbers

In [1]:
name = 
birthday =      #type your birthday in the following format yyyymmdd (8 digits). i.e. 20240921
# for example birthday = 20240921
extract_d1 =     # should return 1 from 20240921
extract_d2 =     # should return 2 from 20240921
extract_m1 = 
extract_m2 = 
extract_y1 = 
extract_y2 = 
extract_y3 = 
extract_y4 = 
total = extract_d1+extract_d2+extract_m1+extract_m2+extract_y1+extract_y2+extract_y3+extract_y4
while total >= 10:
    modulo = total%10
    floor = total//10
    total = floor + modulo
print (f"(name)'s lucky number is {total}")

SyntaxError: invalid syntax (3305695947.py, line 1)

# How many changes I have to return to the customer?

In [ ]:
# Jimmy took 10 dollars to buy 3 items, each item costs fifty-two cents He wanted us to return maximum quarter. Then the reminder money will be returned in the penny.
Money = 10 # ten dollars
cost_per_item = 0.52 #52cents
total_cost_for_items = 
num_quarters = 
num_pennies = 
print(f'We need to return Jimmy {num_quarters} quarters, and {num_cents}cents')

# Error

In [ ]:
# Figure out the errors, and revise the code to remove the errors
print('I'am a student!)

In [ ]:
n = '123'
m = 16
total = n + m
print(total)

In [ ]:
x = 8
y = 12234
w = 
y = w + x

In [4]:
days = 10478
weeks = days//7
days_left = days%7
days_left

6

In [7]:
animals = 1000
three_animals =1000 #dolloars
one_animal = three_animals/3
one_animal *1000

333333.3333333333

In [9]:
total_soliders =123127864
num_soilders_for_one_general= 75000
num_generals = total_soliders//num_soilders_for_one_general
num_soilders_for_one_colonel = 4200
num_colonels = total_soliders%num_soilders_for_one_general//num_soilders_for_one_colonel
print(f'{num_generals} generals and {num_colonels} colonels')

1641 generals and 12 colonels

In [26]:
num = input('please type an integer:')
num = float(num)
one_digit = num%10
two_digit = (num)%100//10
print(one_digit,two_digit)

please type an integer: 45667

7.0 6.0

In [25]:
(13456)%100//10

5

In [28]:
total_students_ngms = 2168
students_in_one_class = 30
students_in_one_band = 15
asian = 0.4*total_students_ngms
girls= 0.568*total_students_ngms
lewis =

1231.424

In [40]:
for x in range(1,20):
    if 512**(1/x)==2:
        print( x)

9

In [55]:
string_1 = 'I am'
string_2 = 'Wei-sen'
num_1 = 11
print((string_1,string_2)*11)

('I am', 'Wei-sen', 'I am', 'Wei-sen', 'I am', 'Wei-sen', 'I am', 'Wei-sen', 'I am', 'Wei-sen', 'I am', 'Wei-sen', 'I am', 'Wei-sen', 'I am', 'Wei-sen', 'I am', 'Wei-sen', 'I am', 'Wei-sen', 'I am', 'Wei-sen')

In [61]:
a = 123
b = 'feed you'
str(a)+b

'123feed you'